  <dfForm action="/project">
    <dfChildErrorList ref="" />

    <dfLabel ref="title">Title: </dfLabel>
    <dfInputText ref="title" />
    <br>

    <dfLabel ref="description">Description: </dfLabel>
    <dfInputTextArea ref="description" />
    <br>

    <dfInputSubmit value="Submit" />
  </dfForm>
